<ion-content>
  <ion-list>
    <ion-item button detail="false" (click)="setLanguage('en')">
      <ion-avatar slot="start">
        <img src="assets/img/flag-en.jpg">
      </ion-avatar>
      <ion-label class="ion-text-wrap">English</ion-label>
    </ion-item>

    <ion-item button detail="false" (click)="setLanguage('kh')">
      <ion-avatar slot="start">
        <img src="assets/img/flag-kh.jpg">
      </ion-avatar>
      <ion-label class="ion-text-wrap">Khmer</ion-label>
    </ion-item>

    <ion-item button detail="false" (click)="setLanguage('zh')">
      <ion-avatar slot="start">
        <img src="assets/img/flag-zh.jpg">
      </ion-avatar>
      <ion-label class="ion-text-wrap">Chinese</ion-label>
    </ion-item>

  </ion-list>
</ion-content>