<ion-header no-border>
  <ion-toolbar  color="primary" mode="ios">

    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon class="bell-button" src="assets/themify-icons/SVG/arrow-left.svg"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      {{ 'PROFILE.change_password' | translate }}
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="changePassword(form)" method="post" class="ion-padding">
    <ion-item>
      <ion-text color="success">
        <h5 class="ion-text-center">{{ 'PROFILE.change_password_description' | translate }}</h5>
      </ion-text>
      <ion-label position="floating">{{ 'APP.password' | translate }}</ion-label>
      <ion-input ngModel type="password" name="password" required></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">{{ 'APP.new_password' | translate }}</ion-label>
      <ion-input ngModel type="password" name="newPassword" required></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">{{ 'APP.confirm_new_password' | translate }}</ion-label>
      <ion-input ngModel type="password" name="confirmPassword" required></ion-input>
    </ion-item>

    <ion-button expand="full" color="success" type="submit">{{ 'APP.submit' | translate }}</ion-button>
  </form>
</ion-content>
