<ion-list>

  <ion-item button detail="false" (click)="pickToday()">
    <ion-label class="ion-text-wrap">
      {{ 'HISTORY_PAGE.today' | translate }}
    </ion-label>
  </ion-item>

  <ion-item button detail="false" (click)="pickYesterday()">
    <ion-label class="ion-text-wrap">
      {{ 'HISTORY_PAGE.yesterday' | translate }}
    </ion-label>
  </ion-item>

  <ion-item button detail="false" (click)="pickLast3Days()">
    <ion-label class="ion-text-wrap">
      {{ 'HISTORY_PAGE.last_3_days' | translate }}
    </ion-label>
  </ion-item>

  <ion-item button detail="false" (click)="pickLast7Days()">
    <ion-label class="ion-text-wrap">
      {{ 'HISTORY_PAGE.last_7_days' | translate }}
    </ion-label>
  </ion-item>

  <ion-item button detail="false" (click)="pickLast30Days()">
    <ion-label class="ion-text-wrap">
      {{ 'HISTORY_PAGE.last_30_days' | translate }}
    </ion-label>
  </ion-item>

  <ion-item button detail="false" (click)="pickCustomDate()">
    <ion-label class="ion-text-wrap">
      {{ 'HISTORY_PAGE.custom' | translate }}
    </ion-label>
    <!-- <ion-icon slot="end" src="assets/themify-icons/SVG/check.svg"></ion-icon> -->
  </ion-item>

</ion-list>
