<ion-content>
  <img src="/assets/header-logo-blue.jpg" class="ion-hide-md-up">

  <ion-text color="dark">
    <h2 class="ion-text-center">{{ 'APP.forgot_password' | translate }}</h2>
  </ion-text>

  <form #form="ngForm" (ngSubmit)="sendOTP(form)" method="post" class="ion-padding" *ngIf="!isSent && !isPinVerified">
    <ion-item>
      <ion-text color="primary">
        <h5 class="ion-text-center">{{ 'FORGOT_PASSWORD_PAGE.enter_phone_to_reset_password' | translate }}</h5>
      </ion-text>
      <ion-label position="floating">{{ 'APP.phone_number' | translate }}</ion-label>
      <ion-input ngModel type="tel" name="phone" required></ion-input>
    </ion-item>

    <ion-button expand="full" color="primary" type="submit">{{ 'APP.submit' | translate }}</ion-button>
    <ion-button fill="clear" color="dark" expand="full" (click)="dismissForgetPassword()"><ion-icon  src="assets/themify-icons/SVG/arrow-left.svg"></ion-icon> &nbsp;&nbsp;&nbsp;&nbsp; {{ 'APP.back' | translate }}</ion-button>
  </form>

  <form #form="ngForm" (ngSubmit)="verifyOTP(form)" method="post" class="ion-padding" *ngIf="isSent && !isPinVerified">
    <ion-item>
      <ion-text color="primary">
        <h5 class="ion-text-center">{{ 'APP.enter_otp' | translate }}</h5>
      </ion-text>      
      <ion-label position="floating">{{ 'APP.otp_number' | translate }}</ion-label>
      <ion-input ngModel type="tel" name="otp" required></ion-input>
    </ion-item>

    <ion-button expand="full" color="primary" type="submit">{{ 'APP.submit' | translate }}</ion-button>
    <ion-button fill="clear" color="dark" expand="full" (click)="backToSendingOTP()" [disabled]="isBackable"><ion-icon  src="assets/themify-icons/SVG/arrow-left.svg"></ion-icon> &nbsp;&nbsp;&nbsp;&nbsp; {{ 'APP.back' | translate }} ({{ countDownTimer }})</ion-button>
  </form>

  <form #form="ngForm" (ngSubmit)="resetPassword(form)" method="post" class="ion-padding" *ngIf="isPinVerified">
    <ion-item>
      <ion-text color="primary">
        <h5 class="ion-text-center">{{ 'FORGOT_PASSWORD_PAGE.enter_phone_new_password' | translate }}</h5>
      </ion-text>
      <ion-label position="floating">{{ 'APP.password' | translate }}</ion-label>
      <ion-input ngModel type="password" name="password" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">{{ 'APP.confirm_password' | translate }}</ion-label>
      <ion-input ngModel type="password" name="confirmPassword" required></ion-input>
    </ion-item>

    <ion-button expand="full" color="primary" type="submit">{{ 'APP.submit' | translate }}</ion-button>
    <ion-button fill="clear" color="dark" expand="full" (click)="backToSendingOTP()"><ion-icon  src="assets/themify-icons/SVG/arrow-left.svg"></ion-icon> &nbsp;&nbsp;&nbsp;&nbsp; {{ 'APP.back' | translate }}</ion-button>
  </form>

</ion-content>
