<ion-tabs>
  <ion-tab-bar slot="bottom" class="ion-padding">

    <ion-tab-button tab="home">
      <ion-icon src="assets/themify-icons/SVG/home.svg"></ion-icon>
      <ion-label>{{ 'APP.home' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="traffic">
        <ion-icon src="assets/themify-icons/SVG/video-camera.svg"></ion-icon>
        <ion-label>{{ 'APP.traffic' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="support">
        <ion-icon src="assets/themify-icons/SVG/headphone-alt.svg"></ion-icon>
        <ion-label>{{ 'APP.support' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon src="assets/themify-icons/SVG/user.svg"></ion-icon>
      <ion-label>{{ 'APP.profile' | translate }}</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>
</ion-tabs>


