ion-fab{
    bottom: 28px;
    left: calc(50% - 8px);   
}
ion-fab-button{
    --padding-bottom:   30px;
    --padding-top:      30px;
    --padding-end:      30px;
    --padding-start:    30px;
    --border-color	:   #427C89;
    --border-width	: 4px;
    --border-style: solid;
}

.odad-cashier-button{
    font-size:12px;
    padding-top:38px;
}