ion-content {
    --overflow: hidden;
}
.battery:after {
    background-color: #fff;
    border: 2px solid #000;
    content: "";
    display: block;
    height: 16px;
    position: absolute;
    right: -6px;
    top: 6px;
    width: 6px;
}
.battery {
    background-color: #fff;
    border: 2px solid #000;
    height: 32px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 100px;
}
.battery .battery-level {
    background-color: #666;
    height: 100%;
}
#map_canvas {
    width: 100%;
    height: 100%;
}
.hidden{
    visibility: hidden;
}
#over_map {
    position: absolute;
    top: 10px;
    left: 0;
    right:0;
    z-index: 99;
    text-align: center;
}
.camera-disabled{
    opacity: 0.6;
}
// .marginBottom5{
//     margin-bottom: 5px;
// }
// .zoomControls90{
//     --padding-bottom: 90px;
// }