<ion-header no-border>
  <ion-toolbar  color="primary" mode="ios">

    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon class="bell-button" src="assets/themify-icons/SVG/arrow-left.svg"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      {{ 'MANAGE_ICON.manage_icon' | translate }}
    </ion-title>

  </ion-toolbar>
</ion-header>


<ion-content>


  <!-- Vehicle Profile -->
  <ion-grid class="ion-no-padding header-container">
    <ion-row>

      <ion-col size="12">&nbsp;</ion-col>

      <ion-col size="4"></ion-col>
      <ion-col class="ion-text-center item-avatar ion-align-self-center" size="4" routerLink="/deliveries">
        <ion-avatar>
          <img *ngIf="!item_photo" src="assets/google/marker/{{ item_icon }}.png">
          <img *ngIf="item_photo" src="{{item_photo}}">
        </ion-avatar>
      </ion-col>
      <ion-col size="4"></ion-col>


      <ion-col size="3"></ion-col>
      <ion-col size="6">
        <ion-button shape="round" expand="full" color="light" (click)="selectDevice()">
          {{ item_name }}
          <ion-icon slot="end" src="assets/themify-icons/SVG/exchange-vertical.svg"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="3"></ion-col>
      
    </ion-row>
  </ion-grid>


  <!-- <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center" size="12">
        <ion-button expand="block" color="success" fill="outline" (click)="cropUpload()">
          <ion-icon slot="start" src="assets/themify-icons/SVG/camera.svg"></ion-icon>
          {{ 'MANAGE_ICON.photo_library' | translate }}
        </ion-button>
      </ion-col>
    </ion-row> 
  </ion-grid> -->

  <div class="square-container">
    <div class="square" *ngFor="let item of itemList" (click)="changeIcon(item.icon_name, item.icon_size)">
      <div [ngClass]="(item_icon==item.icon_name)?'content active':'content'">
        <img src="assets/google/marker/{{ item.icon_name }}.png">
      </div>
    </div>
  </div>
</ion-content>