<ion-content>
  <img src="/assets/header-logo-green.jpg" class="ion-hide-md-up">

  <ion-text color="dark">
    <h2 class="ion-text-center">{{ 'LOGIN_PAGE.login_into_app' | translate }}</h2>
  </ion-text>

  <form #form="ngForm" (ngSubmit)="login(form)" method="post" class="ion-padding">
    <ion-item>
      <ion-text color="success">
        <h5 class="ion-text-center">{{ 'LOGIN_PAGE.enter_phone_password' | translate }}</h5>
      </ion-text>
      <ion-label position="floating">{{ 'APP.phone_number' | translate }}</ion-label>
      <ion-input ngModel type="tel" name="phone" required></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">{{ 'APP.password' | translate }}</ion-label>
      <ion-input ngModel type="password" name="password" required></ion-input>
    </ion-item>

    <ion-button expand="full" color="success" type="submit">{{ 'APP.login' | translate }}</ion-button>
    <ion-button fill="clear" color="dark" expand="full" (click)="dismissLogin()"><ion-icon  src="assets/themify-icons/SVG/arrow-left.svg"></ion-icon> &nbsp;&nbsp;&nbsp;&nbsp; {{ 'APP.back' | translate }}</ion-button>
  </form>
</ion-content>
