<ion-header no-border>
  <ion-toolbar  color="primary" mode="ios">
    
    <!-- <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon class="bell-button" src="assets/themify-icons/SVG/close.svg"></ion-icon>
      </ion-button>
    </ion-buttons> -->

    <ion-title>
      Select Device
    </ion-title>
    
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" color="light">
        Done
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="segmentVal">

    <ion-segment-button value="my-devices">
      <ion-label>My Devices</ion-label>
    </ion-segment-button>

    <ion-segment-button value="groups">
      <ion-label>Groups</ion-label>
    </ion-segment-button>

  </ion-segment>

  <ion-list *ngIf="segmentVal == 'my-devices'">
    <ion-item>
      <ion-label>Select All</ion-label>
      <ion-checkbox [checked]="selectAll" (ionChange)="toggleSelectAll()" slot="start"></ion-checkbox>
    </ion-item>
    <ion-item *ngFor="let item of dataList" class="margin-left-15">
      <ion-label>{{ item.name }} ({{ item.plate }})</ion-label>
      <ion-checkbox slot="start" disabled *ngIf="item.isDisabled"></ion-checkbox>
      <ion-checkbox [checked]="selectAll" (ionChange)="ionSelect(item.id)" slot="start" value="{{ item.id }}" *ngIf="!item.isDisabled"></ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="segmentVal == 'groups'">
  </ion-list>

</ion-content>
