.list-ios{
    margin-bottom: 0px;
}
.ion-top-padding{
    margin-top:25px;
}

.ignitionOn{
    color: var(--ion-color-success);
}

.ignitionOff{
    color: var(--ion-color-danger);
}
.margin-bottom-25{
    margin-bottom: 20px;
}
ion-avatar img{
    background-color: #777;
    border:4px solid #fff;
    padding:5px;
}