ion-grid{
    // background-color:#fff;
    // border:1px solid #cfcfca;
}



ion-card-content{
    // border: 1px solid #cfcfca;
}
.ion-padding-end{
    padding-block-end: 0px;
}
.odad-col-button{
    // background-color: #fff;
    // border:1px solid #cfcfca;
    // border-left-width:0px;
    padding: 16px;
}

.odad-col-button ion-img{
    // margin-right:5px;
}

.sc-ion-card-md-h, .sc-ion-card-ios-h {
    margin: 18px 5px;
}

.padding-5{
    padding:5px;
}

ion-content.background-gray
{
    --background: #f4f3ef;
}