<ion-header no-border>
  <ion-toolbar  color="primary" mode="ios">

    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon class="bell-button" src="assets/themify-icons/SVG/arrow-left.svg"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      {{ 'APP.my_qr_code' | translate }}
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">
        <ion-text color="success">
          {{ 'APP.please_scan_qr_code' | translate }}
        </ion-text>
      </ion-card-title>
    </ion-card-header>

    <ngx-qrcode qrc-class="qr-code ion-text-center" qrc-version="6" qrc-element-type="img" [qrc-value] = "qrcValue"></ngx-qrcode>
    <ion-card-content>
      <ion-text color="danger">
        <h2 class="ion-text-center">{{ 'APP.account' | translate }} {{ phone }}</h2>
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
